In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('../FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')

In [9]:
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [15]:
df.groupby('Area')['Area'].count()

Area
Algeria                        1313
Angola                         1424
Benin                          1285
Botswana                       1378
Burkina Faso                   1409
Cabo Verde                     1260
Cameroon                       1460
Central African Republic       1344
Chad                           1343
Comoros                          45
Congo                          1413
CÃ´te d'Ivoire                  1467
Djibouti                       1095
Egypt                          1488
Eswatini                       1284
Ethiopia                       1447
Ethiopia PDR                     39
Gabon                          1245
Gambia                         1168
Ghana                          1354
Guinea                         1410
Guinea-Bissau                  1128
Kenya                          1560
Lesotho                        1150
Liberia                        1206
Madagascar                     1439
Malawi                         1447
Mali                           1293
Mauritania                     1195
Mauritius                      1378
Morocco                        1393
Mozambique                     1427
Namibia                        1283
Niger                          1403
Nigeria                        1474
Rwanda                         1426
Sao Tome and Principe          1177
Senegal                        1462
Seychelles                       68
Sierra Leone                   1242
South Africa                   1399
Sudan                          1316
Sudan (former)                   53
Togo                           1294
Tunisia                        1338
Uganda                         1458
United Republic of Tanzania    1419
Zambia                         1451
Zimbabwe                       1393
Name: Area, dtype: int64

In [17]:
df.mean().round(2)

Area Code        134.27
Item Code       2687.18
Element Code    3814.86
Y2014            134.20
Y2015            135.24
Y2016            136.56
Y2017            140.92
Y2018            143.76
dtype: float64

In [19]:
df.std().round(2)

Area Code         72.61
Item Code        146.06
Element Code    2212.01
Y2014           1567.66
Y2015           1603.40
Y2016           1640.01
Y2017           1671.86
Y2018           1710.78
dtype: float64

In [21]:
df.groupby('Element')['Element'].count()

Element
Domestic supply quantity                  5295
Export Quantity                           4403
Fat supply quantity (g/capita/day)        5023
Feed                                      1319
Food                                      4941
Food supply (kcal/capita/day)             5014
Food supply quantity (kg/capita/yr)       4905
Import Quantity                           5139
Losses                                    2009
Other uses (non-food)                     1732
Processing                                2010
Production                                3881
Protein supply quantity (g/capita/day)    5023
Residuals                                 4655
Seed                                       762
Stock Variation                           4232
Total Population - Both sexes               45
Tourist consumption                        555
Name: Element, dtype: int64

In [25]:
df.loc[:,['Y2017','Area']]

          Y2017      Area
0      41389.00   Algeria
1          0.00   Algeria
2       3341.00   Algeria
3         92.82   Algeria
4         80.19   Algeria
...         ...       ...
60938     19.00  Zimbabwe
60939      1.33  Zimbabwe
60940      1.00  Zimbabwe
60941      0.04  Zimbabwe
60942      0.02  Zimbabwe

[60943 rows x 2 columns]

In [28]:
df.groupby('Area').count()

,Area Code,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Area,,,,,,,,,,,
Algeria,1313,1313,1313,1313,1313,1313,1261,1268,1274,1279,1298
Angola,1424,1424,1424,1424,1424,1424,1378,1378,1388,1407,1396
Benin,1285,1285,1285,1285,1285,1285,1250,1260,1257,1253,1252
Botswana,1378,1378,1378,1378,1378,1378,1361,1369,1365,1368,1361
Burkina Faso,1409,1409,1409,1409,1409,1409,1382,1372,1392,1383,1373
Cabo Verde,1260,1260,1260,1260,1260,1260,1231,1229,1200,1193,1192
Cameroon,1460,1460,1460,1460,1460,1460,1450,1443,1443,1441,1432
Central African Republic,1344,1344,1344,1344,1344,1344,1300,1296,1314,1262,1308
Chad,1343,1343,1343,1343,1343,1343,1284,1303,1265,1281,1305
Comoros,45,45,45,45,45,45,45,45,45,45,45
Congo,1413,1413,1413,1413,1413,1413,1382,1377,1377,1395,1377
CÃ´te d'Ivoire,1467,1467,1467,1467,1467,1467,1444,1447,1455,1454,1455
Djibouti,1095,1095,1095,1095,1095,1095,1052,1058,1054,1061,1040
Egypt,1488,1488,1488,1488,1488,1488,1461,1473,1470,1458,1468
Eswatini,1284,1284,1284,1284,1284,1284,1265,1240,1255,1251,1231
Ethiopia,1447,1447,1447,1447,1447,1447,1424,1430,1410,1428,1425
Ethiopia PDR,39,39,39,39,39,39,39,39,39,39,39
Gabon,1245,1245,1245,1245,1245,1245,1200,1202,1198,1206,1192
Gambia,1168,1168,1168,1168,1168,1168,1121,1115,1111,1116,1118
Ghana,1354,1354,1354,1354,1354,1354,1337,1333,1330,1333,1337
Guinea,1410,1410,1410,1410,1410,1410,1345,1349,1373,1383,1385
Guinea-Bissau,1128,1128,1128,1128,1128,1128,1044,1040,1054,1076,1091
Kenya,1560,1560,1560,1560,1560,1560,1544,1542,1540,1548,1548
Lesotho,1150,1150,1150,1150,1150,1150,1130,1097,1116,1110,1094
Liberia,1206,1206,1206,1206,1206,1206,1135,1134,1124,1135,1133
Madagascar,1439,1439,1439,1439,1439,1439,1416,1429,1431,1425,1424
Malawi,1447,1447,1447,1447,1447,1447,1416,1400,1394,1411,1410
Mali,1293,1293,1293,1293,1293,1293,1252,1256,1250,1243,1260
Mauritania,1195,1195,1195,1195,1195,1195,1106,1152,1119,1108,1170
Mauritius,1378,1378,1378,1378,1378,1378,1355,1352,1344,1340,1342
Morocco,1393,1393,1393,1393,1393,1393,1354,1381,1378,1369,1368
Mozambique,1427,1427,1427,1427,1427,1427,1396,1394,1401,1406,1400
Namibia,1283,1283,1283,1283,1283,1283,1274,1270,1266,1269,1256
Niger,1403,1403,1403,1403,1403,1403,1357,1367,1355,1365,1368
Nigeria,1474,1474,1474,1474,1474,1474,1470,1458,1460,1457,1456
Rwanda,1426,1426,1426,1426,1426,1426,1400,1378,1400,1397,1403
Sao Tome and Principe,1177,1177,1177,1177,1177,1177,1108,1125,1140,1122,1109
Senegal,1462,1462,1462,1462,1462,1462,1448,1449,1452,1452,1448
Seychelles,68,68,68,68,68,68,68,68,68,68,68
Sierra Leone,1242,1242,1242,1242,1242,1242,1177,1181,1188,1191,1197
South Africa,1399,1399,1399,1399,1399,1399,1394,1395,1395,1395,1396
Sudan,1316,1316,1316,1316,1316,1316,1277,1260,1271,1279,1268
Sudan (former),53,53,53,53,53,53,53,53,53,53,53
Togo,1294,1294,1294,1294,1294,1294,1219,1226,1243,1234,1266
Tunisia,1338,1338,1338,1338,1338,1338,1304,1318,1314,1314,1320
Uganda,1458,1458,1458,1458,1458,1458,1446,1446,1446,1435,1445
United Republic of Tanzania,1419,1419,1419,1419,1419,1419,1401,1405,1403,1409,1408
Zambia,1451,1451,1451,1451,1451,1451,1424,1420,1430,1425,1421
Zimbabwe,1393,1393,1393,1393,1393,1393,1374,1373,1358,1365,1356

In [29]:
df.groupby('Area').count().sort_values(by='Y2017')

,Area Code,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Area,,,,,,,,,,,
Ethiopia PDR,39,39,39,39,39,39,39,39,39,39,39
Comoros,45,45,45,45,45,45,45,45,45,45,45
Sudan (former),53,53,53,53,53,53,53,53,53,53,53
Seychelles,68,68,68,68,68,68,68,68,68,68,68
Djibouti,1095,1095,1095,1095,1095,1095,1052,1058,1054,1061,1040
Guinea-Bissau,1128,1128,1128,1128,1128,1128,1044,1040,1054,1076,1091
Mauritania,1195,1195,1195,1195,1195,1195,1106,1152,1119,1108,1170
Lesotho,1150,1150,1150,1150,1150,1150,1130,1097,1116,1110,1094
Gambia,1168,1168,1168,1168,1168,1168,1121,1115,1111,1116,1118
Sao Tome and Principe,1177,1177,1177,1177,1177,1177,1108,1125,1140,1122,1109
Liberia,1206,1206,1206,1206,1206,1206,1135,1134,1124,1135,1133
Sierra Leone,1242,1242,1242,1242,1242,1242,1177,1181,1188,1191,1197
Cabo Verde,1260,1260,1260,1260,1260,1260,1231,1229,1200,1193,1192
Gabon,1245,1245,1245,1245,1245,1245,1200,1202,1198,1206,1192
Togo,1294,1294,1294,1294,1294,1294,1219,1226,1243,1234,1266
Mali,1293,1293,1293,1293,1293,1293,1252,1256,1250,1243,1260
Eswatini,1284,1284,1284,1284,1284,1284,1265,1240,1255,1251,1231
Benin,1285,1285,1285,1285,1285,1285,1250,1260,1257,1253,1252
Central African Republic,1344,1344,1344,1344,1344,1344,1300,1296,1314,1262,1308
Namibia,1283,1283,1283,1283,1283,1283,1274,1270,1266,1269,1256
Sudan,1316,1316,1316,1316,1316,1316,1277,1260,1271,1279,1268
Algeria,1313,1313,1313,1313,1313,1313,1261,1268,1274,1279,1298
Chad,1343,1343,1343,1343,1343,1343,1284,1303,1265,1281,1305
Tunisia,1338,1338,1338,1338,1338,1338,1304,1318,1314,1314,1320
Ghana,1354,1354,1354,1354,1354,1354,1337,1333,1330,1333,1337
Mauritius,1378,1378,1378,1378,1378,1378,1355,1352,1344,1340,1342
Zimbabwe,1393,1393,1393,1393,1393,1393,1374,1373,1358,1365,1356
Niger,1403,1403,1403,1403,1403,1403,1357,1367,1355,1365,1368
Botswana,1378,1378,1378,1378,1378,1378,1361,1369,1365,1368,1361
Morocco,1393,1393,1393,1393,1393,1393,1354,1381,1378,1369,1368
Burkina Faso,1409,1409,1409,1409,1409,1409,1382,1372,1392,1383,1373
Guinea,1410,1410,1410,1410,1410,1410,1345,1349,1373,1383,1385
South Africa,1399,1399,1399,1399,1399,1399,1394,1395,1395,1395,1396
Congo,1413,1413,1413,1413,1413,1413,1382,1377,1377,1395,1377
Rwanda,1426,1426,1426,1426,1426,1426,1400,1378,1400,1397,1403
Mozambique,1427,1427,1427,1427,1427,1427,1396,1394,1401,1406,1400
Angola,1424,1424,1424,1424,1424,1424,1378,1378,1388,1407,1396
United Republic of Tanzania,1419,1419,1419,1419,1419,1419,1401,1405,1403,1409,1408
Malawi,1447,1447,1447,1447,1447,1447,1416,1400,1394,1411,1410
Madagascar,1439,1439,1439,1439,1439,1439,1416,1429,1431,1425,1424
Zambia,1451,1451,1451,1451,1451,1451,1424,1420,1430,1425,1421
Ethiopia,1447,1447,1447,1447,1447,1447,1424,1430,1410,1428,1425
Uganda,1458,1458,1458,1458,1458,1458,1446,1446,1446,1435,1445
Cameroon,1460,1460,1460,1460,1460,1460,1450,1443,1443,1441,1432
Senegal,1462,1462,1462,1462,1462,1462,1448,1449,1452,1452,1448
CÃ´te d'Ivoire,1467,1467,1467,1467,1467,1467,1444,1447,1455,1454,1455
Nigeria,1474,1474,1474,1474,1474,1474,1470,1458,1460,1457,1456
Egypt,1488,1488,1488,1488,1488,1488,1461,1473,1470,1458,1468
Kenya,1560,1560,1560,1560,1560,1560,1544,1542,1540,1548,1548

In [30]:
bb

,Area Code,Area,Item Code,Item,Element Code,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,,,,
Domestic supply quantity,5295,5295,5295,5295,5295,5295,5244,5245,5250,5258,5256
Export Quantity,4403,4403,4403,4403,4403,4403,3660,3704,3653,3660,3646
Fat supply quantity (g/capita/day),5023,5023,5023,5023,5023,5023,4965,4974,4980,4982,4987
Feed,1319,1319,1319,1319,1319,1319,1216,1177,1215,1213,1225
Food,4941,4941,4941,4941,4941,4941,4896,4901,4910,4912,4913
Food supply (kcal/capita/day),5014,5014,5014,5014,5014,5014,4947,4955,4963,4965,4969
Food supply quantity (kg/capita/yr),4905,4905,4905,4905,4905,4905,4860,4865,4874,4876,4877
Import Quantity,5139,5139,5139,5139,5139,5139,4919,4911,4908,4929,4945
Losses,2009,2009,2009,2009,2009,2009,2009,2009,2009,2009,2008
Other uses (non-food),1732,1732,1732,1732,1732,1732,1662,1667,1634,1619,1655
Processing,2010,2010,2010,2010,2010,2010,1987,1995,1996,1998,2003
Production,3881,3881,3881,3881,3881,3881,3830,3828,3838,3829,3846
Protein supply quantity (g/capita/day),5023,5023,5023,5023,5023,5023,4963,4971,4978,4980,4986
Residuals,4655,4655,4655,4655,4655,4655,4604,4605,4610,4618,4616
Seed,762,762,762,762,762,762,762,759,759,758,758
Stock Variation,4232,4232,4232,4232,4232,4232,4230,4229,4231,4231,4217
Total Population - Both sexes,45,45,45,45,45,45,45,45,45,45,45
Tourist consumption,555,555,555,555,555,555,555,555,555,555,555

In [31]:
df.groupby('Item').count()

,Area Code,Area,Item Code,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Item,,,,,,,,,,,
"Alcohol, Non-Food",283,283,283,283,283,283,275,271,274,273,273
Alcoholic Beverages,564,564,564,564,564,564,562,559,559,560,561
Animal Products,135,135,135,135,135,135,135,135,135,135,135
Animal fats,639,639,639,639,639,639,635,633,633,636,636
Apples and products,517,517,517,517,517,517,510,511,512,511,508
...,...,...,...,...,...,...,...,...,...,...,...
"Vegetables, Other",583,583,583,583,583,583,575,573,577,574,576
Vegetal Products,135,135,135,135,135,135,135,135,135,135,135
Wheat and products,653,653,653,653,653,653,645,648,645,646,647
Wine,497,497,497,497,497,497,491,490,493,491,487
Yams,383,383,383,383,383,383,318,330,333,349,336

In [32]:
df.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [40]:
nulll = df['Y2014'].isnull().sum().round(3)
nulll

1589

In [44]:
df.groupby('Area')['Area'].count()

Area
Algeria                        1313
Angola                         1424
Benin                          1285
Botswana                       1378
Burkina Faso                   1409
Cabo Verde                     1260
Cameroon                       1460
Central African Republic       1344
Chad                           1343
Comoros                          45
Congo                          1413
CÃ´te d'Ivoire                  1467
Djibouti                       1095
Egypt                          1488
Eswatini                       1284
Ethiopia                       1447
Ethiopia PDR                     39
Gabon                          1245
Gambia                         1168
Ghana                          1354
Guinea                         1410
Guinea-Bissau                  1128
Kenya                          1560
Lesotho                        1150
Liberia                        1206
Madagascar                     1439
Malawi                         1447
Mali                           1293
Mauritania                     1195
Mauritius                      1378
Morocco                        1393
Mozambique                     1427
Namibia                        1283
Niger                          1403
Nigeria                        1474
Rwanda                         1426
Sao Tome and Principe          1177
Senegal                        1462
Seychelles                       68
Sierra Leone                   1242
South Africa                   1399
Sudan                          1316
Sudan (former)                   53
Togo                           1294
Tunisia                        1338
Uganda                         1458
United Republic of Tanzania    1419
Zambia                         1451
Zimbabwe                       1393
Name: Area, dtype: int64